[*.cs]

# IDE0055: Исправить форматирование
dotnet_diagnostic.IDE0055.severity = none

# IDE0058: Значение выражения никогда не используется
dotnet_diagnostic.IDE0058.severity = none

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none
